[2016-04-02 19:02] Lewiscowles1986 opened #1 "question"
so is this for translation for a single language non-english app, or an app with multiple language selection?

[2016-04-02 23:16] ahmedash95 commented on #1
you can use it for multiple language selection in your application .. there is commands allows you to control your languages from the console " find , create , delete "

[2016-04-03 12:34] vpratfr opened #2 "Lower PHP requirement"
You currently require PHP7, which is way above the requirement set by Laravel itself. Could you update the composer file so that we can still install it?

[2016-04-03 12:36] #1 closed

[2016-04-03 12:37] themsaid commented on #1
@Lewiscowles1986 you can manage translations for as much languages as you desire.

[2016-04-03 12:49] themsaid commented on #2
I do understand that it makes more sense to support PHP >=5.5.9 just like laravel, however building packages is some type of practise for me where I'm free to pick the tools I need to learn more about, and that was why I built it using PHP7, although I didn't use much of the power of PHP7 in the code base but I learnt a lot getting to know the possibilities.

I can support PHP5.* in a upcoming min

[2016-04-03 13:45] vpratfr commented on #2
Reasons are multiple :

- on Debian not long back the stable version for production servers was still PHP 5.5 (with apt-get by default), so a lot of servers are running that version
- some of my clients are running PHP 5.5 and I cannot force them to switch to PHP 7
- minimal PHP version used by Laravel is 5.5 and thus I would expect any package based on L5 to follow minimal requirements for that v

[2016-04-03 13:51] vpratfr opened #3 "Sub-directories translations"
3rd party packages sometimes allow to publish translation files.

Those file are usually located inside a subfolder of lang. For instance:

[code]

- Is that supported by your tool?
- Will package1/package2 get updated too?
- Will `fr` be created in package2 folder?

[2016-04-03 13:54] themsaid commented on #3
That's not supported at the moment, also nested keys:

[code]

Both are not supported yet. I'm planning to work on that sometime soon, I'll appreciate contributions though.

[2016-04-03 13:55] themsaid commented on #2
Alright, will make a release in the next couple of days with PHP<7 support.

[2016-04-03 14:12] dikiaap commented on #2
Sounds good, waiting for PHP >= 5.5.9 support.

[2016-04-03 14:18] vpratfr commented on #3
Oh. Ok. I guess the vendor package issue could be worked around by allowing multiple paths in your config file and ditching all folders with name having more than 2 characters.

Nested keys is a rather big problem too, that's very common to have nested keys in translation files (that includes the default files provided by Laravel)

[2016-04-03 14:20] themsaid commented on #3
yes, these two cases need to be covered, I'll put some time for them during this week :) Hopefully can come up with something soon.

[2016-04-03 14:20] vpratfr opened #4 "Support for nested keys"
opening another issue to request support for nested keys (as mentioned in #3, but to keep feature requests separated).

[2016-04-03 18:24] icfr opened #5 "Minimum require laravel 5.2 not 5.1"
Filesystem::dirname and ressoure_path are not present in laravel 5.1

i will try to get it working on 5.1 and then do a PR

[2016-04-04 02:46] eskrano commented on #2
Wait php >= 5.5 support

[2016-04-04 14:26] stygiansabyss commented on #5
Noticed this myself.  Also, even after forcibly publishing the config, it still throws the resource_path is undefined error from the root config file.

[2016-04-04 14:27] themsaid commented on #5
I'm working on this matter at the moment.

[2016-04-04 14:36] ahmedash95 opened #6 "In readme langman:translate command"
[code]

i get no command "translate" it's "trans"

[code]

[2016-04-04 14:41] themsaid commented on #6
That was fixed... thanks

[2016-04-04 14:41] #6 closed

[2016-04-04 14:47] themsaid commented on #2
The package now supports PHP >= 5.5.9 since `v1.1.0` https://github.com/themsaid/laravel-langman/releases/tag/v1.1.0

[2016-04-04 14:47] themsaid commented on #5
The package now supports laravel 5.1 by using proper methods. Please check version 1.1.0 https://github.com/themsaid/laravel-langman/releases/tag/v1.1.0

[2016-04-04 14:49] vpratfr opened #7 "Add version history / changelog"
There should be a section at the end of the README file which mentions the main changes made for each version.

[2016-04-04 14:52] stygiansabyss commented on #5
Getting `Language file  .php not found` now.  But the original error is gone.

[2016-04-04 14:53] themsaid commented on #5
@stygiansabyss on what command? also can you share your language files structure?

[2016-04-04 14:54] stygiansabyss commented on #5
File structire: https://infinit.io/_/iJtG2ee
Command: langman:show base

Command output: https://infinit.io/_/egi9AB9

[2016-04-04 15:10] themsaid commented on #5
@stygiansabyss I can't regenerate the issue on laravel 5.1 PHP7.

It has something to do with the command not reading the given filename.

[2016-04-04 15:21] stygiansabyss commented on #5
In the commands, the parseKey method is aiming to set the file and key.  But if it throws the undefined offset exception, nothing sets the file.  Changing it to the following has seemed to fix it.

[code]

But fixing that brought up another potential problem.  Does this package handle array values?  I have this in the base.php lang file.

[code]

And I am getting back:

[code]

[2016-04-04 15:24] themsaid commented on #5
Nope, array values and sub directories are not supported at the moment. I'm working on these issues.

Are you on PHP7 or lower while adding this fix?

[2016-04-04 15:24] stygiansabyss commented on #5
I am on 5.6.11 locally.  Server runs 7.

[2016-04-04 15:28] stygiansabyss commented on #5
In the tableRows() method I changed it to the following and it seems to work.

[code]

[2016-04-04 16:23] stygiansabyss commented on #5
[code]

Made this version of the ShowCommand class.  Works well actually.

[code]

[2016-04-04 16:24] themsaid commented on #5
@stygiansabyss nice :) can you please submit a PR ?

[2016-04-04 16:25] stygiansabyss commented on #5
Working on that now sir.

[2016-04-04 17:06] themsaid commented on #5
@stygiansabyss please notice that I pushed a new release, v1.1.1 with fixes for the PHP5 issue. The package now is tested on PHP 5.5.9, 5.6, and 7.

[2016-04-04 17:07] themsaid commented on #5
I'm closing this issue, please open a new issue in case you had any other problems.

[2016-04-04 17:07] #5 closed

[2016-04-04 17:39] themsaid commented on #7
https://github.com/themsaid/laravel-langman/blob/master/CHANGELOG.md

added. Thanks :+1:

[2016-04-04 17:39] #7 closed

[2016-04-04 17:39] #2 closed

[2016-04-04 21:15] themsaid commented on #4
- [x] `langman:show`
- [x] `langman:find`
- [ ] `langman:missing`
- [ ] `langman:Sync`
- [ ] `langman:remove`
- [ ] `langman:trans`

[2016-04-06 16:38] dragonfire1119 opened #15 "php artisan langman:trans addslashes error"
How to create the issue:

[code]

Error:
[code]

Laravel Version: 5.2

[2016-04-06 16:45] dragonfire1119 opened #16 "php artisan langman:trans vendor error"
How to create the issue:

1. Create a vendor directory in lang

[code]

Error:
[code]

Laravel Version: 5.2

[2016-04-06 16:46] themsaid commented on #16
Vendor translations are not supported yet, i'm working on that at the moment.

[2016-04-06 16:47] themsaid commented on #15
Was that using a vendor translation file?

[2016-04-06 18:21] dragonfire1119 commented on #16
@themsaid If there not support couldn't you temporary not show the error? Because just having a vendor directory throws the error.

[2016-04-06 18:21] dragonfire1119 commented on #15
@themsaid No I removed the vendor directory.

[2016-04-07 00:27] themsaid commented on #15
Working on this and will update you once it's fixed.

Thanks for reporting :)

[2016-04-07 08:03] vpratfr commented on #16
Duplicate with #3

[2016-04-08 11:39] rsdev000 opened #17 "Bugs in windows environment"
Hi

Don't know if it happens on other platforms but it happens on windows.
Verified on a fresh laravel install.

![show01](https://cloud.githubusercontent.com/assets/9252353/14381721/66647370-fd80-11e5-9d65-7846033457b8.png)

So far, so good.

The issue comes up when I try to add a new translation

![error01](https://cloud.githubusercontent.com/assets/9252353/14381749/97649216-fd80-11e5-9949-f48f5

[2016-04-08 19:00] rsdev000 commented on #17
Hi

Tested with you latest changes on master and the issues are gone :)

[2016-04-08 19:02] themsaid commented on #17
OH .. THANK YOU for following up :)
Please let me know if I can make the package better.

[2016-04-08 22:26] laravelish opened #18 "5.2 config doesn't publish"
[code]

[2016-04-08 22:49] themsaid commented on #18
It looks to me that the package isn't installed, can you please double check.

[2016-04-09 09:55] themsaid commented on #3
The package now supports dealing with vendor translation files since v1.2.0 https://github.com/themsaid/laravel-langman/releases/tag/v1.2.0

[2016-04-09 09:56] #3 closed

[2016-04-09 09:56] themsaid commented on #4
The package now supports dealing with nested keys since v1.2.0 https://github.com/themsaid/laravel-langman/releases/tag/v1.2.0

[2016-04-09 09:56] #4 closed

[2016-04-09 09:56] themsaid commented on #15
This error is now fixed since https://github.com/themsaid/laravel-langman/releases/tag/v1.2.0

[2016-04-09 09:56] #15 closed

[2016-04-09 09:57] themsaid commented on #16
This is also fixed in https://github.com/themsaid/laravel-langman/releases/tag/v1.2.0

[2016-04-09 09:57] #16 closed

[2016-04-09 09:57] themsaid commented on #17
This is now fixed in v1.2.0 https://github.com/themsaid/laravel-langman/releases/tag/v1.2.0

[2016-04-09 09:57] #17 closed

[2016-04-09 10:35] rsdev000 opened #19 "Improvements"
Hi. It's just an idea but I think it could be useful.

-i think the ```show command``` can be improved.

One improvement consists in adding an optional param ```language```.

```php artisan langman:show auth en``` / ```php artisan langman:show auth.failed en``` to show the auth translations for one language. If the language passed does not exists, the show the languages available (maybe another co

[2016-04-09 13:14] vpratfr opened #20 "Undefined offset: 1"
[code]

No idea why that happens. I got some vendor files and maybe some files are created in one language and not in the others.

[2016-04-09 13:18] vpratfr opened #21 "Sync is ignoring anything outside views"
There are lots of places where we have messages: controllers, validation, events, etc. All of them are not taken into account, just the views.

This would be fair to incorporate those classes into the sync process.

[2016-04-09 13:22] themsaid commented on #20
hmm maybe that's the reason, will look at it an 30 minutes and get back to you. Thanks for your feedback, it's quite useful :)

I'm trying to make the package cover all the cases and make language files management as easy as possible, because in the current large project I'm working on managing translations became a nightmare.

[2016-04-09 13:27] vpratfr commented on #20
For instance, if I want to add a new language (italian for instance), I would basically create a new `it` subfolder, then run the sync command and that folder would be populated with the new translation files.

[2016-04-09 13:58] themsaid commented on #20
I just tested the case of having files existing in a language but not the other, running `langman:missing` actually creates a new file and asks you to fill the lines key by key.

Can you please share the structure of your language files? Or if possible can you do some debugging inside the `MissingCommand` and try to figure out where the problem is cause I can't replicate the issue here.

[2016-04-09 14:06] themsaid commented on #19
Thank you for this valuable feedback 👍
I'll be looking into that and hopefully come up with suitable solutions.

[2016-04-09 14:12] rsdev000 commented on #19
You're welcome. I think the ability to show the translations for one language is the most useful improvement.

[2016-04-10 02:51] ahmedash95 commented on #18
it works fine with me , a fresh install of laravel 5.2

composer.json require
[code]

put the provider in config/app.php's providers array

[code]

then execute artisan command
[code]

the result :

[code]

[2016-04-10 03:59] #18 closed

[2016-04-10 16:07] ahmedash95 opened #25 "all tests is broken"
i'm trying to solve the problem but i think you could do it faster than me , could you please check all tests

@themsaid

[2016-04-10 16:31] themsaid commented on #25
All tests where?

[2016-04-10 16:32] themsaid commented on #25
If you mean the PR then let's discuss it there.

[2016-04-10 16:32] #25 closed

[2016-04-10 16:39] themsaid commented on #20
@vpratfr, still having the same troubles running the package?

[2016-04-10 16:41] themsaid commented on #19
@rsdev000 now you can display only the specified languages via the `--lang` option, is that enough for you? If the languages are too much you may display only the ones you need.

[2016-04-10 18:08] ahmedash95 commented on #25
@themsaid i didn't mean the PR . could you please try to run test with a fresh install of laravel with langman ?

[2016-04-10 18:09] themsaid commented on #25
How do you run tests after pulling langman into laravel?

[2016-04-10 18:10] ahmedash95 commented on #25
``` cd vendor/themsaid/laravel-langman ``` then ``` composer install ``` then ``` phpunit ```

[2016-04-10 18:12] themsaid commented on #25
Can you share the errors coming from running the tests?

[2016-04-10 18:13] ahmedash95 commented on #25
http://i.imgur.com/mAEMvdS.png

[2016-04-10 18:20] themsaid commented on #25
I think the script isn't able to create the temporary test files, anyway it's recommended that you develop the package outside laravel.

[2016-04-10 18:29] ahmedash95 commented on #25
how can i test my modifications if i developing the package outside laravel ?

[2016-04-10 18:32] themsaid commented on #25
That's the point of testing :) Your tests need to be isolated. Anyway you should track teh reason behind the failing tests on your system, it's not a general issue as the tests pass on Travis: https://travis-ci.org/themsaid/laravel-langman

[2016-04-10 18:34] ahmedash95 commented on #25
really weird , i will try to fix this issue :D , thanks for your time

[2016-04-12 15:21] #19 closed

[2016-04-12 19:58] vpratfr commented on #20
Same problem after updating.

[2016-04-12 20:00] themsaid commented on #20
I really need to know the cause of the issue, cause I've used langman in 4 projects till now with complicated localisation structure and it seem to work. Can you please try to track the issue in `Themsaid/Langman/Command/MissingCommand.php`?

[2016-04-13 12:32] ahmedash95 commented on #21
@themsaid i think you should close this issue now :D.

[2016-04-13 12:59] vpratfr commented on #21
@ahmedash95 Question :

I have translations for enums. Here is some code :

### Enum declaration in `config/enums.php`

[code]

### Translations in `resources/lang/en/enums.php`

[code]

### Views can use it from a model for example:

[code]

What happens in that case when you sync translations? What is the content of `enums.php` after the sync process?

[2016-04-13 13:03] ahmedash95 commented on #21
@vpratfr config/enums.php out of sync scope becase it just an array doesn't use any lang methods! . or I misunderstand ?

[2016-04-13 13:33] themsaid commented on #21
[code]

The above method call will be ignored by the sync command as it contains a dynamic key, only specific key calls are considered. If you have an idea on how to support this type of calls I'll be glad to consider it.

[2016-04-13 13:51] vpratfr commented on #21
There is no real way to support it. However, good to know it is ignored, I think that is the best way to handle it.

How about the existing translation messages in `resources/lang/en/enums.php`? Will they get erased?

It would be handy (and maybe safe) to be able to specify a list of files to ignore in the lang folders when sync-ing.

[2016-04-13 13:56] vpratfr commented on #21
Actually I think we are mixing two different things:

- Process of finding/removing translations from the code (views, classes) and updating the translation files with that (potentially only touching the default language files, not translations).
- Process of simply synchronizing translation files accross languages (I have a set of files for default language `en` (could be another default lang) wh

[2016-04-13 13:56] themsaid commented on #21
Nope, it won't get erased, it'll stay untouched.

Regarding ignoring files, why would you want to ignore a file? I don't mind having an option `--ignore=enums,users,auth` but curious about the use cases.

Regarding your other opened issue, is it still not working? Did you succeed figuring out what was wrong?

[2016-04-13 13:58] vpratfr commented on #21
Ignoring a file is in case a translation is not in code anymore and you remove them from language files.

If you don't do any removal of unused translation keys, then ignoring is not really necessary.

[2016-04-13 13:59] vpratfr commented on #20
I'll try to, but I won't have time to do that until at least 1 or 2 weeks.

[2016-04-13 14:02] themsaid commented on #21
I'm not sure I quite understand the use case, do you mean if you remove the `trans()` calls for specific keys from code and you want to keep the language file although it's useless?

[2016-04-13 14:03] themsaid commented on #20
No worries, I'm going to close the issue for now then. Please feel free to open a ticket if the issue with more details by the time you check it out. Hopefully you catch the issue and open a PR :)

Thanks for your feedback.

[2016-04-13 15:10] themsaid commented on #21
v1.2.2 now looks inside the app directory in addition to the views directory.

[2016-04-13 15:10] #21 closed

[2016-04-13 17:08] vpratfr commented on #20
Pretty strange way to proceed to close an issue which is still happening?!

[2016-04-13 17:12] themsaid commented on #20
It's just that we're unable to re-create the issue on different installation and you won't be able to provide further details so I thought to close it until somebody else reports. Anyway it's no opened again :)

[2016-04-13 17:26] vpratfr opened #26 "Command to synchronize languages (not from views, just between languages)"
Say we have for instance the following language files and keys:

[code]

We need a command which would synchronize all languages with the same keys.

A translator will not have access to php artisan, so the command `missing` will not really help in this case.

That command in that example would:

- create the file `lang/de/address.php` with all keys,
- add the key `zip` to the file `lang/fr/addres

[2016-04-13 17:42] themsaid commented on #26
I think the sync command can include the search for keys that exist in a language bas not in another, currently the missing command does this job.

So you run `langman:sync` and it looks into your application files to check for keys that doesn't exist in your language files, and also look into you language files and make sure all keys that exist in a language exists in the other. What do you think

[2016-04-13 18:16] vpratfr commented on #26
I think that should be independent. For example, some dynamic keys are not grabbed by the sync command (like my example with enums in another issue). So those keys are not synchronized accross languages.

Additionally, the missing command will prompt me for each message. What if I have 200 messages? I just want to create all files for that new language and send them to the translators who will use

[2016-04-13 18:18] vpratfr opened #27 "New keys created by langman should be in default language rather than empty"
Langman creates new files with new keys which are empty.

Problem is that translators who receive those files will have to look into the original language files to know what the original message is before they can translate it.

It would be useful to have a default language instead of an empty string.

[2016-04-13 18:30] themsaid commented on #26
Actually I'm saying that I can move the functionality of syncing keys across language files to the sync command, the sync command won't prompt for translations, that way The translation files will have all the needed keys after the `langman:sync` command so that you don't have to run `langman:missing` if you don't want.

[2016-04-13 19:27] vpratfr commented on #26
That would be useful yes.

[2016-04-13 19:29] vpratfr commented on #26
That new step should include:

- Creating missing keys in all language files
- Make sure the vendor lang folders get synced too
- Creating missing files (even if that file does not contain any message from the views, see example with enums)

[2016-04-17 07:39] vpratfr commented on #20
Here is some more info about the Exception:

[code]

[2016-04-17 07:44] vpratfr commented on #20
This happens for a file within vendor. At line 63 I do a `var_dump($file);` and here is the output:

[code]

The exception is thrown because $matches is an empty array and you are trying to return $matches[1]

Here is what general.php looks like:

[code]

[2016-04-17 07:54] vpratfr commented on #20
A fix for that regex is to remove is and replace the if statement by that:

[code]

[2016-04-17 07:55] vpratfr commented on #20
That last code seems to work (at least it runs, I did not check the output)

[2016-04-17 07:58] themsaid commented on #20
👍 can you open a PR for that fix?

[2016-04-17 08:02] vpratfr commented on #20
I prefer to let you test it properly, I will not have time to do that before quite some time. I actually forced myself to spend a few minutes at least trying to find where the issue was to help you fix it.

I am running on Windows, that may be why your regex is not working.

The fix seems trivial, maybe mine is not proper as the function will return something like "log-viewer::general.php" (you ma

[2016-04-17 08:03] themsaid commented on #20
Alright no problem, I'll look into a fix and release a patch once I have a couple of minutes. Thank you :)

[2016-04-17 08:07] vpratfr opened #28 "Keys re-created each sync?"
When I run twice the command to sync files, I get lots of message on first run which say "message XXX has been added" **but** I also get those same messages each time I run the command.

When I run the command twice I would only expect an update to my files only the first time, and the second run should see nothing to sync (no message added).

Right?

[2016-04-17 08:08] vpratfr commented on #20
No problem. Sorry I can't contribute more with code, I wish my days were 48 hours long.

[2016-04-17 15:54] #20 closed

[2016-04-17 15:54] #28 closed

[2016-04-18 12:12] themsaid commented on #27
The point of empty strings is for easily finding them with the `langman:missing` command, if we fill the new keys we won't be able to identify keys that need translation.

[2016-04-20 16:31] themsaid opened #29 "Find a way to handle large strings"
Causing the console table to break.

[2016-04-22 09:59] themsaid opened #30 "Rename key command"
Rename a key across languages.

[2016-04-22 10:00] themsaid opened #31 "Export & Import to excel"
For easily dealing with translators.

[2016-04-22 10:01] themsaid commented on #27
A import/export feature is planned here, I think it'll work for the case you're mentioning: https://github.com/themsaid/laravel-langman/issues/31

[2016-04-22 10:01] #27 closed

[2016-04-22 10:57] vpratfr commented on #31
Rather than Excel, you may want to consider other file formats which are read by tools adapted to translations. For instance the PO file format which can then be edited with POEdit (a free tool).

I don't know if that would work but I think that should not be too hard (PO files are text files). And on the translators side, that would be much more convenient (POEdit has lots of handy features like

[2016-04-22 10:57] vpratfr commented on #27
Yes, that would work too.

[2016-05-12 16:17] joshua55 opened #33 "ErrorException When Calling the Manager files() Function In Laravel 5.1"
When I inject the Manager into a command I'm writing in our Laravel 5.1 based app so I can utilize its methods I am able to successfully do this:
$allViewsKeys = $this->manager->collectFromFiles();

But when I try and do this:
$translationFiles = $this->manager->files();

I get the error:
[ErrorException]
Missing argument 2 for Themsaid\Langman\Manager::Themsaid\Langman\{closure}()

But is seems a

[2016-05-12 17:09] themsaid commented on #33
I think it has to do with Illuminate/Support 5.1 `Collection::filter()` implementation, in 5.1 it uses array filter that only pass the value to the callback, while in 5.2 it uses different implementation.

I guess I'll have to remove Illuminate/Support from the package and replace it with the standalone Collection library.

[2016-05-17 07:38] DJZT opened #34 "php artisan langman:show users - Language file users.php not found!"
i have users.php files in HE and EN folders, but script say me "Language file users.php not found!".
In the config.php file i not make changes.
`'path' => realpath(base_path('resources/lang')),`
Laravel 5.1

[2016-05-17 14:37] rsdev000 opened #35 "php artisan langman:show validation - Error strstr() expects parameter 1 to be string, array given"
Hi

Found this error while working in a 5.2.31 app and tested in a fresh 5.2.32.

The error only occurs when showing validation. It works ok with auth, passwords, pagination language files.

![ok-1](https://cloud.githubusercontent.com/assets/9252353/15326236/27415fe4-1c45-11e6-8bba-ef7e62704c50.png)

![err-1](https://cloud.githubusercontent.com/assets/9252353/15326247/2e4874c6-1c45-11e6-907e-976e5

[2016-05-17 15:01] themsaid commented on #35
Can you share your `validation.php file`? is it the one coming with laravel as it is, no changes?

[2016-05-17 15:15] rsdev000 commented on #35
Yes. It's the one coming with laravel without changes.

[2016-05-20 08:31] mustafaaloko commented on #31
@themsaid I was starting to work on a Laravel package to do this (import/export from/to Excel and Google Sheets). If you want, I can contribute on this in this package instead of creating a new one. Thoughts?

[2016-05-20 08:32] themsaid commented on #31
Well, that would be great :)

[2016-05-20 08:33] mustafaaloko commented on #31
So you haven't started anything on this? should I scaffold things?

[2016-05-20 08:33] mustafaaloko commented on #31
BTW, very and very quick response ;)

[2016-05-20 08:35] themsaid commented on #31
Nope, I haven't worked on it yet, but such addition is really helpful and it'll save a lot of time :)

Sent from my iPhone

[2016-05-20 09:51] vpratfr commented on #31
Something that would really help : https://github.com/oscarotero/Gettext

[2016-05-22 22:08] benjamincrozat opened #40 "Controllers support?"
Could it be possible? It would be very useful for flash messages.

[2016-05-22 22:17] #40 closed

[2016-05-22 22:18] themsaid commented on #40
Helo @benjamincrozat, the package scans al views and all files in your app directory. So I believe controllers are scanned too, no?

[2016-05-22 22:19] benjamincrozat commented on #40
Yes, I didn't saw it because I forgot to prefix keys in the trans() function. Sorry!

[2016-05-22 22:26] themsaid commented on #40
No worries :)

[2016-05-25 02:44] uyab commented on #26
Any update about this?

[2016-05-28 08:06] #33 closed

[2016-05-28 08:06] #34 closed

[2016-05-28 08:35] themsaid commented on #34
This is fixed now, please confirm.

[2016-05-28 08:35] themsaid commented on #33
This is fixed now, please confirm.

[2016-05-28 08:40] themsaid commented on #35
This is now fixed.

[2016-05-28 08:40] #35 closed

[2016-05-28 11:47] themsaid commented on #26
This is now implemented on the master branch, if someone can test and confirm before making a new release I'll be very grateful.

[2016-05-31 18:12] joshua55 commented on #33
Confirmed. With the latest code I am able to successfully run $this->manager->files() without errors in our application. Thanks!

[2016-06-02 17:30] markvaneijk opened #42 "Show translation in default language"
I have a very large translation database and translating it now is quite difficult even with this awesome package. It would be nice if the text that I need to translate is shown in the already available translation, for example the default language of the app (app.locale config).

So if I have my app with default language in English, than I would like to translate it to some other language. But I

[2016-06-11 21:20] themsaid commented on #30
Introduced in https://github.com/themsaid/laravel-langman/issues/43

[2016-06-11 21:20] #30 closed

[2016-06-13 21:30] themsaid commented on #42
This is now done by @fergthh and will be released with the next version.

Thank you for the suggestion :)

[2016-06-13 21:30] #42 closed

[2016-06-18 14:04] swedishzorro opened #45 "Double quotes get slash"
Steps to reproduce:
1. Create new label and enter text _Hello "zorro"_:
`php artisan langman:trans labels.bye`
2. Now check the lang file and see that the double quotes have slashes, this is the output:
`
<?php
return array (
  'hello' => 'Hello \"zorro\"'
);
`

Seems it's the addslashes in the Manager that causes this, possibly try to use var_export instead of stringLineMaker() function? This is

[2016-06-23 09:58] tpraxl commented on #31
+1 I would very much appreciate the proposed enhancement

[2016-07-04 22:08] markvaneijk commented on #42
Great! 👍🏻

[2016-07-17 15:13] rsdev000 opened #46 "Get ready for Laravel 5.3"
Hello

Can you update composer.json to allow 5.3 illuminate components please ?

Cheers

[2016-07-17 18:00] joelcuevas opened #47 "Purge unused strings"
How about a command for purging unused strings in lang files?

There is a potential problem with `trans('app.type_' . $type)` kind of translations, as the user will create custom entries in the files... but, still, I think that a command like this would be useful.

Maybe all the custom strings could be placed in files that could be blacklisted from purging at config level.

@themsaid, have you tho

[2016-07-18 21:02] themsaid commented on #47
Regarding the command for purging strings, I'm not quite sure if we can consider all the cases to check for an unused translation line, do you have any ideas on how to guarantee?

[2016-07-18 21:17] themsaid commented on #46
I think I'll do that after the release, need to make sure everything works on 5.3 when it's final :)

[2016-07-19 16:05] rsdev000 commented on #46
I undestand. Forked the package and didn't find any problem under laravel 5.3-dev.
Cheers

[2016-07-19 22:39] joelcuevas commented on #47
Not sure either, but thinking on my workflow:

Hypothetically I would blacklist on `config/langman.php` files like `resources/lang/en/status.php` where things like `ticket_open` should be. This kind of translations are the ones that I use with `trans('status.ticket_' . $status)`. In this files we should never assume that a string is not longer used (because we don't know) and live with it.

With t

[2016-07-20 12:11] themsaid commented on #47
Well I assume such command can be useful if you know what you're doing :) If you can PR such thing I'd gladly consider merging.

[2016-07-20 12:12] themsaid commented on #46
👍 great.

Will make more checks once 5.3 is announced too, to make sure everything is wokring as expected :)

[2016-07-20 12:12] #46 closed

[2016-07-20 17:26] joelcuevas commented on #47
Perfect! I think I could have something by the next week for you to review.

[2016-07-20 17:27] themsaid commented on #47
👍 :)

[2016-08-04 11:16] Luddinus opened #48 "Ignore "arrays" when sync"
Hi,

I have this lang file e.g

[code]

And in a controller or a file inside app directory:

[code]

So the problem is that when I use "langman:sync" command, it writes an empty array in tips.

[code]

Is this a bug or an expected behauvior?

Anyway, congrats for the package, it rocks.

[2016-08-06 09:11] Luddinus commented on #48
ping @themsaid

[2016-08-06 09:12] themsaid commented on #48
Woops, sorry didn't notice the issue except now :)

Thank for the report, it seems like a bug and I'll look into it today and get back to you :)

[2016-08-09 09:24] Luddinus commented on #48
Well, from now I'm doing a ugly trick.

I read that dynamic "trans" are ignored so I'm doing this:

[code]

[2016-08-23 17:58] #48 closed

[2016-08-23 17:58] themsaid commented on #48
The issue is now fixed :)

[2016-08-23 18:08] #45 closed

[2016-08-29 16:58] gregoriohc opened #52 "Sync not matching some methods"
Sync is ignoring @lang and @choice if they are used just after an HTML tag.
For example: `<p>@lang('language.line')</p>`
The problem is that the regex is ignoring them because the first part: `[^\w|>]`
Is that the expected behavior?
I have been playing with the regex in https://regex101.com/r/jS5fX0/2 but I'm not sure how to solve this in the right way.

[2016-09-01 18:21] joelcuevas commented on #52
I was wondering about this same thing today...

The regex is explicitly ignoring anything that starts with an `>` (because `->trans('lang.line')`), but this causes a lot of trouble with Blade one-liners as the one stated by @gregoriohc.

Maybe this could be fixed with a negative lookbehind on the `>` char to assert that it doesn't have a `-` before. Something like this: https://regex101.com/r/jS5f

[2016-09-01 21:33] themsaid commented on #52
That regex here would fix it (https://regex101.com/r/jS5fX0/3) I believe, are you willing to make a PR? :)

[2016-09-02 22:00] joelcuevas commented on #52
Of course. Done!

[2016-09-03 06:49] #52 closed

[2016-09-05 14:14] themsaid opened #54 "test"
- [x] a task list item
- [x] list syntax required
- [ ] normal **formatting**, @mentions, #1234 refs
- [ ] incomplete

[2016-09-05 14:14] #54 closed

[2016-09-08 17:42] VinceG opened #55 "Supporting modules/ folder"
- Laravel Version: 5.3.6
- PHP Version: 7.0.8
- Database Driver & Version: MySQL 5.6

### Description:
How will one use the sync command to scan the modules/ folder as well. we have several modules and we would like to sync the translations from the views under modules/Admin/Resources/views

We extended the provider and changed the paths but it wont recognize the 'trans' calls in the views.

Thank

[2016-09-08 17:43] VinceG commented on #55
never mind ... i guess we can just add it under the views/paths folder?

[2016-09-08 17:46] VinceG opened #56 "0 => 1 array key value"
- Laravel Version: 5.3.6
- PHP Version: 7.0.8
- Database Driver & Version: MySQL 5.6

### Description:
When running sync i get the following

[code]

the 0 => 1 is always there i am not sure how that's added.

### Steps to reproduce:

[2016-10-14 19:05] GitzJoey commented on #56
I'm experiencing this also, and can't find anywhere in the views
even I tried to log in syncCommand

Laravel 5.4
PHP 5.6.x

[2017-01-23 03:01] aiddroid opened #58 "Take the default locale's translation as default when syncing."
- Laravel Version: 5.3.0
- PHP Version:7.0
- Database Driver & Version:MySQL 5.6

### Description:
Instead of keep empty, please  take the default locale's translation as default when syncing,It's more convenience for translate.

### Steps to reproduce:

[2017-01-23 05:50] #58 closed

[2017-02-19 12:19] AidasK commented on #29
👍

[2017-02-24 10:08] morksinaanab commented on #47
Have you guys been able to add this? I haven't installed langman yet, but i was indeed looking for the feature to purge unused strings.

Isn't it something like:
1. 'fake' remove all keys keep them in a map,
2 run the find missing translation keys function keep that in a map,
3. remove all found in 2 from 1 > resulting in a list of unused keys to remove?

(probably what joelcuevas is referring to,

[2017-04-04 19:28] raulghm opened #62 "[IDEA] Vue i18n integration"
Could be a useful idea an integration with this package [https://github.com/kazupon/vue-i18n](https://github.com/kazupon/vue-i18n)

I'am using and generate a JS object with [https://github.com/martinlindhe/laravel-vue-i18n-generator](https://github.com/martinlindhe/laravel-vue-i18n-generator), but the call of key for translate is some like this `$t('message.hello')` and the the workflow for includ

[2017-04-29 22:39] lb308 opened #65 "How we can use it in a project multilang Ar En?"
Hi all thanks a lot, I am new to laravel I want to make site with two languages Arabic and English, how can I switch between using this package, thanks

[2017-05-15 06:59] tayyabhussain opened #67 "Lang files are not PSR-2"
- Laravel Version: 5.1
- PHP Version: 5.6
- Database Driver & Version:

### Description:
Whenever I add translations in lang files via langman, Langman does not write into files according to PSR-2 standards.
1- It adds one space after "<?php "
2- It does not add line break at the end of array

### Steps to reproduce:
1- add any translation via langman

[2017-06-01 07:05] tayyabhussain commented on #67
@themsaid please see this

[2017-06-02 10:10] themsaid commented on #67
Not sure if we should care about that :) Feel free to open a PR though if you feel such fix is so important.

[2017-06-24 04:36] robsontenorio opened #68 "Disable URL on production"
Is that possible disable mysite.com/langman url on production environment?

I think its a security issue.

[2017-07-31 08:01] hasandz commented on #68
You can disable service provider for production in AppServiceProvider.php

[code]

[2017-08-07 06:47] tayyabhussain commented on #67
@themsaid
I'm afraid, I don't have access to generate a PR,
You just need to replace writeFile function with below code

[code]

[2017-10-04 15:23] thanosalexander opened #70 "langman:sync autocreate"
- Laravel Version: 5.4
- PHP Version: 7.1
- Database Driver & Version: Mysql 5.7.19

### Description:
Hi.
I think that it'd be very usefull to auto create files of scanned  $allkeysInFiles.
maybe here SyncCommand@syncKeysFromFiles or in other function..
because there are a lot of results found but no new translation file is created!
if you can add it please!

### Steps to reproduce:

[2017-10-10 15:42] nicolasbeauvais commented on #68
This package doesn't define any routes, you are probably talking about https://github.com/themsaid/laravel-langman-gui

You can override the `registerRoutes` method of the `LangmanServiceProvider` by defining your own service provider for the package https://github.com/themsaid/laravel-langman-gui/blob/master/src/LangmanServiceProvider.php#L49

[2017-10-10 15:47] nicolasbeauvais commented on #65
This package will help you manage translations, not switch between languages in your UI.

You should read https://laravel.com/docs/5.5/localization
or this easy to follow tutorial: https://laracasts.com/discuss/channels/tips/example-on-how-to-use-multiple-locales-in-your-laravel-5-website

[2017-10-31 02:51] #68 closed

[2018-01-06 21:29] Gummibeer commented on #47
Couldn't the variable Part be solved by a `preg_match`!?
And Display all Keys that have no real usage but matched by a variable usage to the User.

[2018-03-13 20:55] #65 closed

[2018-07-01 07:49] khaninejad opened #77 "Create lang file dynamically"
- Laravel Version: 5.6
- PHP Version: 7.2
- Database Driver & Version:

### Description:
Hi,

I would like to create a lang file(or if exists) and add a new key with translated text in one just command.
for example :
php artisan langman:trans users.name --lang=en --text="this a translation"
is that possible?

Regards

### Steps to reproduce:

[2018-09-09 12:28] cemg opened #78 "Utf8 Character Translation Not Working"
- Laravel Version: 5.7.2
- PHP Version: 7.2.4
- Database Driver & Version: MariaDB 10.1.31

### Description:
langman:trans command is not translating UTF8 characters (like ş, ğ, ı)

### Steps to reproduce:
php artisan langman:trans messages.title
Başlık
messages.title:tr was set to "Ba\l\k" successfully.

[2018-10-23 09:28] sebastiaanspeck opened #79 "key with ' in it, breaks it"
- Laravel Version: 5.7.9
- PHP Version: 7.1.19
- Database Driver & Version: MySQL 5.7.23

### Description:
When you have a key in a language-file with a `\'` in it and run `php artisan langman:missing` it works okay and you can translate things, but when you run `php artisan langman:missing` again, it crashes because langman overwrites the key with `\'` and changes it to `'`

### Steps to reproduc

[2018-10-23 09:44] sebastiaanspeck opened #80 "Ignore files"
- Laravel Version: 5.7.9
- PHP Version: 7.1.9
- Database Driver & Version: MySQL 5.7.23

### Description:
I want to have the possibility to ignore the default language-files (auth.php, pagination.php, passwords.php, validation.php)

[2018-10-23 09:51] sebastiaanspeck opened #81 "key with '.' in it, creates nested key"
Laravel Version: 5.7.9
PHP Version: 7.1.19
Database Driver & Version: MySQL 5.7.23

### Description:
When you have a key in a language-file with a `.` (e.a. 'No.' in it and run `php artisan langman:sync` and a language is missing that key, it doesn't add the key the same way but changes it to:
[code]

instead of
[code]

### Steps to reproduce:
See description

[2018-11-06 17:47] lacrc opened #82 "Empty array on lang file throws offset error when syncing"
- Laravel Version: 5.7.12
- PHP Version: 7.2.9

### Description:
By far not an urgent issue, just thought I should report that running `php artisan langman:sync` throws `ErrorException  : Undefined offset: 2` when "Synchronizing language files..." if you have any php lang file that only returns an empty array.

### Steps to reproduce:

- Create a .php file in any of your lang folders;
- Edit it so

[2018-11-23 04:45] vibrantBits opened #83 "Scan Error - Cannot read property 'Login' of undefined"
- Laravel Version: 5.7
- PHP Version: 7.2.1

### Description:
When I click Scan, I got this error in the console:
langman.js:42763 Uncaught TypeError: Cannot read property 'Login' of undefined
    at Vue$3.addNewKey (langman.js:42763)
    at Vue$3.boundFn [as addNewKey] (langman.js:33189)
    at _.forEach.key (langman.js:42835)
    at arrayEach (langman.js:14459)
    at Function.forEach (langman.j

[2019-01-14 17:08] sebastiaanspeck opened #84 "Specify language for missing"
### Description:
add --lang option to `php artisan langman:missing` so you can specify which language you want to check. Right now the command checks all language files and if you only want to check the English one, you first got to skip all other inputs for other languages

[2019-03-19 14:23] aminweb007 opened #88 "Arabic (ar) support"
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version:

### Description:
I noticed that when I use langman artisan command to make an Arabic translation it aborts without adding the translation and without carrying-on to the other languages.

As an overall observation, Arabic is not supported every command (sync, missing, trans...)  throws errors  when Arabic is around.

### Steps

[2019-06-28 21:02] prageeth opened #90 "Lang files in sub-directories of the app not handled (non-vendor)"
- Laravel Version: 5.8.0
- PHP Version: 7.2.0
- Database Driver & Version: mysql

### Description:
Language files under sub-directories are not taken into consideration.

e.g.:
[code]
The above is valid and can be accessed using `__('menu/nav.some-key')`.

However, this package doesn't recognise them.

### Steps to reproduce:

Add a language file in the file structure above (with some keys).

Then

[2019-07-27 12:36] thanosalexander commented on #82
is there any fix about this?

[2019-07-27 13:40] lacrc commented on #82
what I did was create a dummy entry on every new file like:
[code]
Sync ran successfully after that.

[2019-08-28 19:18] lsmith77 commented on #62
I think what would help is if \Themsaid\Langman\Manager::getAllViewFilesWithTranslations() would move the `$functions` and `$patterns` to a config variable.

I am using this syntax proposed here https://github.com/kg-bot/laravel-localization-to-vue#some-examples-why-would-you-use-this-package-and-messages-over-laravel-standard-localization which again is slightly different.

[2019-09-06 10:33] ben182 opened #94 "Laravel 6 compatibility"

[2019-09-19 13:43] mnvx commented on #94
@themsaid any plans for new release?

[2019-09-30 13:46] amiryousefi commented on #94
One more developer waiting for Laravel 6 compatibility :)

[2019-10-03 13:20] vadykoo opened #95 "Cyrillic symbols is not working in not saving,"
### Description:
Cyrillic symbols is not working in not saving,
### Steps to reproduce:
php artisan langman:trans messages.campaign.required and enter some text

[2019-10-07 17:24] Nelie-Taylor opened #96 "Please fix with php 7.4"
- Laravel Version: 6.0
- PHP Version: 7.4
- Database Driver & Version:

### Description:

![image](https://user-images.githubusercontent.com/12018657/66333805-ee435380-e961-11e9-986e-dc80957df147.png)

### Steps to reproduce:
Thank you so much.

[2019-10-08 22:42] gerpo commented on #96
Maybe you could submit a pull request? 7.4 is not yet officially released, but if you need it now you could help the community by helping to make the code ready for the release. That's the beauty of open source.

[2020-03-30 02:10] drew-plu commented on #94
One more. Six months. What do we do here?

[2020-04-19 13:41] muisit commented on #94
#100 implements support for Laravel 7, but the changes should work for 6 as well I believe

[2020-04-19 13:47] muisit commented on #47
#100 implements a --unused flag for the Show command that can give you a list of all keys that are not actively found in your project files. You can use the Remove command to remove those keys.

You can then script this to filter the list of unused keys with a known list of keys to retain anyway and remove the rest.

[2020-05-04 11:28] lauhakari commented on #96
Fixed in #93 :)

[2020-05-14 12:20] themsaid opened #102 "🔈Calling for help"
Hey everyone,

I've been trying to put more focus on this open source library for sometime but I keep failing. Sorry!

I'd like to ask for your help. Is there anyone willing to co-maintain this package? Or if you've been using it a lot for your work and you'd like to take over I'm happy to transfer the package to your account.

Thanks everyone, hope the package helped make your life easier :)

[2020-06-05 12:09] lauhakari commented on #90
Hey @prageeth .

Don't know if you get this solved, but I tried your setup and for me it worked when I just run `php artisan langman:show menu` instead of `php artisan langman:show menu/menu`. So seems like you don't have to put in the whole path.

The only problem is, if you have two files that are named the same, so if you have `/en/menu.php` and `/en/menu/menu.php`. The command `langman:show` w

[2020-07-02 14:19] GuidoHendriks commented on #102
I'm willing to help out where possible. Don't have too much spare time but I guess anything helps? 🙃

[2020-09-16 12:22] perifer commented on #102
I can help. Maybe @lsmith77 can co-maintain as well?

[2020-09-16 12:43] lsmith77 commented on #102
I ended up forking (permanently), here are the changes https://github.com/themsaid/laravel-langman/compare/master...liip:master

That being said, if we can find a way for those features to fit in here (maybe via extension points), then I am happy to drop it again and help maintain this package.

[2020-09-17 06:29] perifer commented on #102
@lsmith77 not sure what you mean by "extension points" but your additions seems solid to me. Maybe that some of them could be a breaking change for existing users, like https://github.com/themsaid/laravel-langman/commit/6ef4bfc46a219f6b5575ecb00a39eae69739a063, but that should be possible to fix.

@themsaid could a plan be that we start with adding the basic stuff like Laravel 6,7,8 support, PSR-1

[2020-12-09 00:22] adelynx commented on #96
@Nelie-Taylor, this is the fix I have done and worked for me. I am using the package from my private repo as this one is not maintained anymore. I do suggest you to fork the repo to your account and use it from there after adding the fix. Good luck

[code]

[2021-02-23 16:09] ghostofjava opened #105 "Langman not compitable with laravel 8,"
- Laravel Version: 8.12
- PHP Version: 7.4
- Database Driver & Version:

I upgrade my app from lara 5.8 to 8 just I couldn't update langman package

there is any solution or ignore it ???

[2021-02-26 11:27] ghostofjava commented on #105
Any new feed??

[2021-03-24 19:43] jessuircleydson commented on #105
i'm with the same problem... Some news about it?

[2021-03-25 13:38] aymanalhattami commented on #105
I've the same problem !

[2021-03-25 13:43] ghostofjava commented on #105
I was solve it. By adding in composer file without add it in require dependencies
autoload:{
psr-4:{
"Themsaid\\Langman\\": "vendor/themsaid/laravel-langman/src"
}
}

note : "Download it from git and put it in vendor folder"

[2021-06-08 06:06] parth391 opened #107 "php 8 support"

[2021-08-14 11:00] fh32000 commented on #107
fix in PR #108 @themsaid

[2021-10-28 23:26] DonWagner commented on #105
@ghostofjava How i cant make it work?

[2022-01-03 17:17] Lemmynjash commented on #96
@adelynx worked for me thanks alot

[2022-01-07 13:13] #96 closed, assigned to nobody

[2022-02-15 04:55] abdialeh commented on #96
@adelynx worked for me too, thanks